/* .logo {
  width: 60%;
  display: block;
  margin: 100px auto 0px auto;
  max-width: 400px;
} */

.txt-header {
  width: 100%;
  color: lightgray;
  font-weight: bold;
  font-family: cursive;
  font-size: 36px;
  font-style: italic;
}

.header {
  height: 120px;
  background:  #5e5e5e;
} 
